.idea/
# IDE
.vscode/
nbproject/
.DS_STORE
/coverage/
# Vendor
/vendor/
# Logs
/logs/*
!/logs/README.md
# Cache
/var/cache/*
cache.properties
*.cache
# Composer
composer.phar
composer.lock
# Environment
.env
.env.*
!.env.example
# Node
/node_modules/
# Webpack
/public/
/views/SPA.php